In [349]:
import pandas as pd

df = pd.read_csv("../donnees/brutes/Student Depression Dataset.csv")

In [350]:
df.head(1)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1

1. créer dataset lon/lat villes indiennes
2. Profession : filtrer student puis drop colonne
3. Arbitrage jpb satisfaction
4. Modifier sleep
5. suicide/Mental illness : booléen

Academic Pressure : Pression académique (allant de 0 à 5 : 0 pour aucune pression, 5 le maximum)
Work Pressure : Pression professionnelle (allant de 0 à 5 : 0 pour aucune pression, 5 le maximum)
Sleep Duration : Durée de sommeil
Dietary Habits : Habitudes alimentaires
Study Satisfaction : Niveau de satisfaction des études (allant de 0 à 5 : 0 pas du tout satisfait, 5 très satisfait)
Job Satisfaction : Niveau de satisfaction de la profession (allant de 0 à 5 : 0 pas du tout satisfait, 5 très satisfait)
Financial Stress : Pression professionnelle (allant de 0 à 5 : 0 pour aucune pression, 5 le maximum)
Family History of Mental Illness: Antécédent familial de maladie mentale
Dépression : Niveau de dépression (0 Pas de signe de dépression ou non concerné, 1 Présence de signes de dépression ou concerné)

In [351]:
df.info()#3 lignes NaN dans 'Financial Stress', on peut dropper

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27898 non-null  float64
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(8), int64(2), object(8)
memory usage: 3.8+ MB

In [352]:
df = df.dropna()

In [353]:
df

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [354]:
def traduction(x):
    if x == '5-6 hours':
        return '5-6 heures'
    elif x == '7-8 hours':
        return '7-8 heures'
    elif x == 'Less than 5 hours':
        return 'Moins de 5 heures'
    elif x == 'More than 8 hours':
        return 'Plus de 8 heures'
    elif x == 'Healthy':
        return 'Saines'
    elif x == 'Moderate':
        return 'Modérées'
    elif x == 'Unhealthy':
        return 'Mauvaises'
    elif x == 'Male':
        return 'Homme'
    elif x == 'Female':
        return 'Femme'

In [355]:
df= df.drop('id', axis = 1)#colonne id inutile, on pourra en recréer un propre si besoin

In [356]:
df['Gender'] = df['Gender'].apply(traduction)

In [357]:
df['Age'] = df['Age'].astype(int)#Transformation de l'âge en integer

In [358]:
df = df[df['City'].map(df['City'].value_counts()) > 2]#Suppression des villes n'ayant que 1 ou 2 étudiants renseignés

In [359]:
df = df[df['Profession'] == 'Student']#27870 lignes sur 27901, On peut ne garder que les students
df = df.drop('Profession', axis = 1)#Les valeurs sont identiques, la colonne ne sert plus

In [360]:
df[df['Work Pressure'] == 0]#27832 sur 27835, on peut supprimer la colonne
df[df['Job Satisfaction'] == 0]#27827 sur 27835, on peut supprimer la colonne
df = df.drop(['Job Satisfaction', 'Work Pressure'], axis = 1)

In [361]:
df['Sleep Duration'].unique()#Seulement 4 catégories + 'Others': on traduit les catégories et on drop les others

array(['5-6 hours', 'Less than 5 hours', '7-8 hours', 'More than 8 hours',
       'Others'], dtype=object)

In [362]:
df['Sleep Duration'] = df['Sleep Duration'].apply(traduction)#On traduit
df = df[df['Sleep Duration'] != 'Others']#Seulement une 15N de lignes, on peut les supprimer

In [363]:
df

,Gender,Age,City,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Homme,33,Visakhapatnam,5.0,8.97,2.0,5-6 heures,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,Femme,24,Bangalore,2.0,5.90,5.0,5-6 heures,Moderate,BSc,No,3.0,2.0,Yes,0
2,Homme,31,Srinagar,3.0,7.03,5.0,Moins de 5 heures,Healthy,BA,No,9.0,1.0,Yes,0
3,Femme,28,Varanasi,3.0,5.59,2.0,7-8 heures,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,Femme,25,Jaipur,4.0,8.13,3.0,5-6 heures,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,Femme,27,Surat,5.0,5.75,5.0,5-6 heures,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,Homme,27,Ludhiana,2.0,9.40,3.0,Moins de 5 heures,Healthy,MSc,No,0.0,3.0,Yes,0
27898,Homme,31,Faridabad,3.0,6.61,4.0,5-6 heures,Unhealthy,MD,No,12.0,2.0,No,0
27899,Femme,18,Ludhiana,5.0,6.88,2.0,Moins de 5 heures,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,Homme,27,Patna,4.0,9.24,1.0,Moins de 5 heures,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [364]:
df['Dietary Habits'].unique()#idem, traduction + suppression 'Others'

array(['Healthy', 'Moderate', 'Unhealthy', 'Others'], dtype=object)

In [365]:
df['Dietary Habits'] = df['Dietary Habits'].apply(traduction)
df = df[df['Dietary Habits'] != 'Others']

In [366]:
df['Degree'].unique()#Pour l'info des cursus, on les regrupera par niveau après

array(['B.Pharm', 'BSc', 'BA', 'BCA', 'M.Tech', 'PhD', 'Class 12', 'B.Ed',
       'LLB', 'BE', 'M.Ed', 'MSc', 'BHM', 'M.Pharm', 'MCA', 'MA', 'B.Com',
       'MD', 'MBA', 'MBBS', 'M.Com', 'B.Arch', 'LLM', 'B.Tech', 'BBA',
       'ME', 'MHM', 'Others'], dtype=object)

In [367]:
len(df[df['Degree'] == 'Others'])#35 lignes 'Others': on peut dropper ces lignes
df = df[df['Degree'] != 'Others']

In [368]:
#Les 'Degrees' peuvent être regroupés en niveau d'étude comme suit:
bachelors = ['BSc', 'BA', 'BCA', 'BE', 'BTech', 'B.Pharm', 'B.Ed', 'B.Com', 'B.Arch', 'BHM', 'BBA', 'Class 12', 'LLB', 'MBBS', "B.Tech"]
masters = ["MSc", "MA", "MCA", "MBA", "MTech", "ME", "M.Ed", "M.Com", "M.Pharm", "MHM", "LLM", "M.Tech"]
doctors = ["PhD", "MD"]

#Fonction pour nouvelle colonne:
def niv_etude(x):
    if x in bachelors:
        return 'Bachelor'
    elif x in masters:
        return 'Master'
    elif x in doctors:
        return 'Doctorat'

In [369]:
#On peut créer une colonne 'Niveau études':
df['Niveau étude'] = df['Degree'].apply(niv_etude)

In [370]:
df = df.drop('Degree', axis = 1)#Maintenant la colonne filtrée et catégorisée on ne l'utilisera plus

In [371]:
df['Have you ever had suicidal thoughts ?'].unique()#Seulement 2 valeurs, plus qu'a mettre en booléens

array(['Yes', 'No'], dtype=object)

In [372]:
df['Family History of Mental Illness'].unique()#idem,

array(['No', 'Yes'], dtype=object)

In [373]:
df['Have you ever had suicidal thoughts ?'] = df['Have you ever had suicidal thoughts ?'].apply(lambda x : True if x == 'Yes' else False)
df['Family History of Mental Illness'] = df['Family History of Mental Illness'].apply(lambda x : True if x == 'Yes' else False)

In [374]:
df['Work/Study Hours'] = df['Work/Study Hours'].astype(int)#Transformation de l'âge en integer

In [375]:
#Traduction des colonnes
df = df.rename(columns = {'Gender' : 'Genre', 'City' : 'Ville', 'Academic Pressure' : 'Pression Académique', 'Study Satisfaction' : 'Satisfation Académique', 'Sleep Duration' : 'Temps de sommeil', 'Dietary Habits' : 'Habitudes Alimentaires', 
       'Have you ever had suicidal thoughts ?' : 'Pensées Suicidaires', 'Work/Study Hours' : 'Temps études/jour(heures)', 'Financial Stress' : 'Stress Financier', 'Family History of Mental Illness' : 'Antécédents familiaux mentaux', 'Depression' : 'Dépression'})

In [376]:
#Réorganisation des colonnes
df = df[['Genre', 'Age', 'Ville', 'Niveau étude', 'Pression Académique', 'CGPA', 'Satisfation Académique', 'Temps de sommeil', 'Habitudes Alimentaires',
       'Pensées Suicidaires', 'Temps études/jour(heures)', 'Stress Financier', 'Antécédents familiaux mentaux', 'Dépression']]

In [377]:
#Dernier changement de types:
df['Pression Académique'] = df['Pression Académique'].astype(int)
df['Satisfation Académique'] = df['Satisfation Académique'].astype(int)
df['Stress Financier'] = df['Stress Financier'].astype(int)

In [378]:
df = df.reset_index().drop('index', axis = 1)

In [379]:
df

,Genre,Age,Ville,Niveau étude,Pression Académique,CGPA,Satisfation Académique,Temps de sommeil,Habitudes Alimentaires,Pensées Suicidaires,Temps études/jour(heures),Stress Financier,Antécédents familiaux mentaux,Dépression
0,Homme,33,Visakhapatnam,Bachelor,5,8.97,2,5-6 heures,Saines,True,3,1,False,1
1,Femme,24,Bangalore,Bachelor,2,5.90,5,5-6 heures,Modérées,False,3,2,True,0
2,Homme,31,Srinagar,Bachelor,3,7.03,5,Moins de 5 heures,Saines,False,9,1,True,0
3,Femme,28,Varanasi,Bachelor,3,5.59,2,7-8 heures,Modérées,True,4,5,True,1
4,Femme,25,Jaipur,Master,4,8.13,3,5-6 heures,Modérées,True,1,1,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27801,Femme,27,Surat,Bachelor,5,5.75,5,5-6 heures,Mauvaises,True,7,1,True,0
27802,Homme,27,Ludhiana,Master,2,9.40,3,Moins de 5 heures,Saines,False,0,3,True,0
27803,Homme,31,Faridabad,Doctorat,3,6.61,4,5-6 heures,Mauvaises,False,12,2,False,0
27804,Femme,18,Ludhiana,Bachelor,5,6.88,2,Moins de 5 heures,Saines,True,10,5,False,1
27805,Homme,27,Patna,Bachelor,4,9.24,1,Moins de 5 heures,Saines,True,2,3,True,1

In [381]:
df.to_csv('student_depression_dataset_nettoyees.csv', index = False)